.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 114px;
  border-bottom:  1px solid #dad7d7;
  .header-menu-left{
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  .header-menu-item{
    color: #555555;
    font-size: 20px;
    display: inline-block;
    position: relative;
    margin: 0px 20px;
    font-family:'Nitti';
    position: relative;
  }

  .header-sub-menu{
    position: absolute;
    width: 200px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px #e0dada;
    top: 160%;
    z-index: 10;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    li{
      a{
        font-size: 16px;
        text-decoration: none;
        color: #555555;
        display: inline-block;
      }
      a:after{
        transition: all ease-in-out .2s;
        background: none repeat scroll 0 0  #3f5d18;
        content: "";
        display: block;
        height: 1px;
        width: 0;
      }
      a:hover{
        color:  #3f5d18;
      }
      a:hover:after{
        width: 100%;
      }
      list-style: none;
      padding: 7px 10px;
      border-bottom: 1px solid #e0dada;
    }
    li:last-child{
      border-bottom: 0 solid #e0dada;
    }
  }

  .header-menu-item:before {
    content: "";
    border: solid;
    border-width: 20px 28px;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 15px;
  }

  .header-menu-item:after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0  #3f5d18;
    content: "";
    display: block;
    height: 1px;
    width: 0;
  }
  .header-menu-item:hover{
    cursor: pointer;
    color: #3f5d18;
  }

  .header-menu-item:hover .header-sub-menu{
    top: 120%;
    opacity: 1;
    visibility: visible;
  }
  .header-menu-item:hover:after{
    width: 100%;
  }
  .header-menu-right{
    display: flex;
    flex: 1;
    justify-content: flex-start;
  }
  .header-logo{
    img{
      width: 85px;
      height: 42px;
      margin: 0 50px;
    }
  }
}
